arm_subscription_id="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
arm_client_id="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
arm_client_secret="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
arm_tenant_id="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
